.start-30 {
     left: 20%;
}

.gap-6 {
     gap: 3.5rem;
     height: 500px;
}

.occation {
     font-size: 60px;
}

.card {
     color: #C8FEC7;
}

.font {
     font-weight: 900;
}
.collapse-nav {
     background: black;
}
.collapse-footer{
     height: 150px;
     background-color: #292929;
}
::-webkit-scrollbar {
     display: none;
}

.circle {
     position: relative;
     width: 150px;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.hello {
     width: 620px;
}

@media (min-width:1200px) and (max-width:1400px) {
     .hello {
          width: 611px;
     }
}

@media (min-width:1025px) and (max-width:1399px) {
     .hello {
          width: 512px;
     }
}

@media (min-width:800px) and (max-width:1024px) {
     .hello {
          width: 436px !important;
     }
}

@media (min-width:601px) and (max-width:768px) {
     .hello {
          width: 696px;
     }
}

@media screen and (max-width:600px) {
     .hello {
          width: auto;
     }
}

.circle-text {
     position: relative;
     z-index: 2;
}

.circle::before {
     content: "";
     background-color: #000;
     border-radius: 50%;
     width: 120px;
     height: 120px;
     position: absolute;
     z-index: 1;
}

.circle::after {
     position: absolute;
     content: "";
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-image: conic-gradient(from 235deg, #FA709A 5%, #FEE140 50%, #FEE140 66%, #FA709A 94%, transparent 90%);
}

.working {
     background: url('../assets/working.png') no-repeat fixed;
     background-size: 100% 100%;
     min-height: 600px;
}

.working-text {
     width: 58vw;
}

p {
     margin-bottom: 0;
}

.conclusion {
     height: 150px;
     background-color: #A87FF3;
     top: 480px;
}

.colombian {
     color: #FF0000;
}

.baby_Img {
     width: 100%;
     height: 100%;
}

@media screen and (max-width:767px) {
     .fix {
          z-index: 2;
          background-color: #000;
          width: 100%;
          height: 209px;
          position: absolute;
          top: 64px;
          left: 0;
     }
     .footer-font{
          font-size: 7px;
     }
}

.footer {
     position: relative;
     background-color: #a87ff3;
     width: 100%;
     height: calc(100vh - 63vh);
     margin-top: 100px;
}
.footer-padding{
     padding-top: 5rem;
}
.webkit-img {
     width: 16vw;
     height: 55vh;
     position: absolute;
     bottom: 0;
}
.frame{
     width: 150px;
     height: 150px;
}
.font-sm {
     font-size: calc(100vw - 98.5vw);
     align-self: center;
}
@media screen and (max-width:556px) {
     .webkit-img{
          width: 30vw;
          height: 38vh;
     }
     .footer{
          width: 100%;
          height: 24vh;
     }
     .frame{
          width: 60px;
          height: 60px;
     }
}